<!DOCTYPE html>
<html>
<title>Bank Loan: Prediction App</title>
<body>

<h1>Bank Loan: Prediction App</h1>

<form action = "/getLoanOutcome" method="POST">


<p> Select gender: <select name="Gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select> </p>

<p> Select dependents: <select name="Dependents">
<option value="0">Zero</option>
<option value="1">One</option>
<option value="2">Two</option>
<option value="3+">Three +</option>
</select> </p>

<p> Is married: <select name="Married">
<option value="Yes">Yes</option>
<option value="No">No</option>
</select> </p>

<p> Select Education: <select name="Education">
<option value="Graduate">Graduate</option>
<option value="Not Graduate">Not Graduate</option>
</select> </p>

<p> Is self employed: <select name="Self_Employed">
<option value="No">No</option>
<option value="Yes">Yes</option>
</select> </p>

<p> Applicant Income: <input name="ApplicantIncome" type ="number" min="0" value="0"/> </p>
<p> Co-applicant Income: <input name="CoapplicantIncome" type ="number" min="0" value="0"/> </p>
<p> Loan Amount: <input name="LoanAmount" type ="number" min="0" value="0"/> </p>

<p> Select loan term:
 <select name="Loan_Amount_Term">
  <option value="12">12</option>
  <option value="36">36</option>
  <option value="60">60</option>
  <option value="84">84</option>
  <option value="120">120</option>
  <option value="180">180</option>
  <option value="240">240</option>
  <option value="300">300</option>
  <option value="360">360</option>
  <option value="480">480</option>
</select>
</p>

<p> Credit History (1 or 0): <input name="Credit_History" type ="number" min="0" max="1" value="0"/> </p>

<p> Select property area: <select name="Property_Area">
<option value="Urban">Urban</option>
<option value="Rural">Rural</option>
<option value="Semiurban">Semiurban</option>
</select> </p>

<center> <p> <input type ="submit" value="submit" /> </p> </center>

</form>
</body>
</html>
